[submodule "src/ncnn"]
	path = src/ncnn
	url = https://github.com/Tencent/ncnn
	ignore = dirty
[submodule "src/opencv"]
	path = src/opencv
	url = https://github.com/opencv/opencv
	ignore = dirty
[submodule "src/protobuf"]
	path = src/protobuf
	url = https://github.com/protocolbuffers/protobuf
	ignore = dirty
