scrfd_1g-opt2.bin
scrfd_1g-opt2.param
scrfd_2.5g_kps-opt2.bin
scrfd_2.5g_kps-opt2.param
scrfd_2.5g-opt2.bin
scrfd_2.5g-opt2.param
scrfd_10g_kps-opt2.bin
scrfd_10g_kps-opt2.param
scrfd_10g-opt2.bin
scrfd_10g-opt2.param
scrfd_34g-opt2.bin
scrfd_34g-opt2.param
scrfd_500m_kps-opt2.bin
scrfd_500m_kps-opt2.param
scrfd_500m-opt2.bin
scrfd_500m-opt2.param